.inputSubmit {
    cursor: pointer;
    background-color: #557e65;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
}
.inputSubmit:hover {
    background-color: #63f58f;
}