 fieldset {
        border: 3px solid #63f58f;
        padding: 10px;

    }

    legend {
        border: 1px solid white;
        padding: 10px;
        text-align: center;
        background-color: linear-gradient(to right, rgba(37, 81, 46, 0.1), rgba(14, 48, 19, 0.3));
        border-radius: 8px;
    }
