@media (max-width: 768px) {
    .table-bg {
        border-radius: 5px 5px 0 0;
        padding: 10px;
        margin: 2px auto;
        overflow-x: auto;
        width: 100%;
        max-width: 100%;
        transform: scale(0.5);
        transform-origin: top left;
        zoom: 0.9;
    }

    body {
        background-size: 100% 100%;
        background-position: center;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar > * {
        width: 100%;
    }
}