.table-bg {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px 0 0;
  word-wrap: break-word;
  white-space: nowrap;
  max-width: 100%;
  width: 100%;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
}